version: '3.9'

services:
  redis:
    image: redis:alpine
    container_name: redis_service
    ports:
      - "6379:6379"

  celery:
    build: .
    working_dir: /app/polling_system
    command: celery -A polling_system worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
    
    environment:
      - CELERY_BROKER_URL=redis://redis:6379
      - CELERY_RESULT_BACKEND=redis://redis:6379

  celery_beat:
    build: .
    working_dir: /app/polling_system
    command: celery -A polling_system beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
    
    environment:
      - CELERY_BROKER_URL=redis://redis:6379
      - CELERY_RESULT_BACKEND=redis://redis:6379